@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  background: #f8f8f8;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.4rem;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 共用樣式 */
.container {
  width: 85%;
  margin: 0 auto 3.5rem auto;
}

.background-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}

/* header */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #737c75;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.nav-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  letter-spacing: 2px;
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  transition: transform .25s ease-out;
  transform-origin: top;
  transform: scale(1, 0);
}

.nav-item {
  margin: 1.4rem 0;
  opacity: 0;
}

.nav-link {
  color: #161D15;
  letter-spacing: 1px;
}

.nav-toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav .nav-item {
  transition: opacity .3s ease-out .15s;
  opacity: 1;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8%;
  display: flex;
  align-items: center;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 1.4rem;
  background: #fff;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  content: "";
  width: 30px;
  height: 3px;
  border-radius: 1.4rem;
  background: #fff;
}

.hamburger::before {
  bottom: .7rem;
}

.hamburger::after {
  top: .7rem;
}

/* introduce */
.introduce-wrapper {
  padding-top: 98px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: .5rem;
  grid-template-areas:
    "main main main main"
    "left left left left"
    "right right right right"
}

.main-banner {
  grid-area: main;
  width: 100%;
  height: 100%;
  padding: 1.1rem;
  border-radius: 15px;
  background: #ebebe9;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.sub-banner-left {
  grid-area: left;
  background-image: url("https://i.postimg.cc/QdcCNbY1/sub-banner-left.jpg");
  width: 100%;
}

.sub-banner-right {
  grid-area: right;
  background-image: url("https://i.postimg.cc/QMbM1M3M/sub-banner-right.jpg");
  width: 100%;
}

.main-banner .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #161d15;
  margin-bottom: 1rem;
}

.main-banner .info {
  font-size: 1rem;
  letter-spacing: .2px;
}

/* rule */
.rule-title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color: #ab8c83;
  letter-spacing: 1.5px;
}

.rule-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: auto auto;
}

.rule-img {
  width: 100%;
  border-radius: 25px;
}

.rule-info {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.rule-info p {
  font-size: 1.1rem;
  color: #161d15;
}

/* tip */
.tip-title,
.reason-title,
.learn-title,
.other-title,
.banner-title {
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  font-size: 2rem;
  color: #ab8c83;
  letter-spacing: 1.5px;
}

.tip-info,
.reason-info,
.learn-info {
  padding: 1.5rem;
  border-radius: 25px;
  background: #ebebe9;
}

.other .container img {
  width: 100%;
}

.link-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 150px;
  background: #F9ECE4;
}

.link-section a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #CC5F5A;
}

footer {
  width: 100%;
  height: 30px;
  text-align: center;
  color: red;
  background-color: #F9ECE4;
}

@media screen and (min-width: 920px) {
  /* header */
  .nav-toggle-label {
    display: none;
  }

  .nav {
    all: unset;
    grid-column: 3 / 4;
  }

  .nav-item {
    margin: 0;
    opacity: 1;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .nav-title {
    grid-column: 2 / 3;
  }

  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: end;
    align-items: center;
  }

  .nav-link {
    color: #fff;
  }
  /* introduce */
  .introduce-wrapper {
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "main main left left"
      "main main right right"
  }

  .background-image {
    background-size: cover;
  }

  .main-banner {
    height: 25rem;
  }
  /* rule */
  .card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    align-items: center;
  }

}